<main class="form-signin">

  <form class="form" action="/signup" method="post">
    <div class="form-fields">
      <input
        type="text"
        name="firstName"
        class="form-control top"
        id="floatingInput"
        placeholder="First Name"
        required
        autofocus
      />
      <input
        type="text"
        name="lastName"
        class="form-control middle"
        id="floatingInput"
        placeholder="Last Name"
        required
      />
      <input
        type="email"
        name="email"
        class="form-control bottom"
        id="floatingPassword"
        placeholder="Email"
        required
      />
    </div>
    <div class="form-button-container">
      <button class="form-button" type="submit">
        Sign Me Up To Newsletter
      </button>
    </div>
  </form>
</main>
